<html>
<head>
    <title>Tweet Bias - Home</title>
    <link rel="stylesheet" href="../static/bias-detector.css">
</head>
<body>
<div class="container" style="left: 50%; top:50%;">
	<div class="container__item">
        <h1>#Codechella hack.</h1>
		
		<h2>Alexander Lisnichenko (he/him)</h2>
		<img style="width:100px; height:100px;border-radius:50%;" src="../static/pictures/alexander-profile.jpeg" alt="Alexander picture">
		<p>Honors student with a 4.0 GPA in a Computer Science degree at the</p>
		<p>University of South Florida. Comes from a mathematical and athletic</p>
		<p>background. He has 2+ years of experience in back-end web development</p>
		<p>and machine learning academic research. He is passionate about</p>
		<p>distributed systems, machine learning, and embedded systems. He</p>
		<p>enjoys mountain biking, photography, and psychology research.</p>
		<p>He put a lot of effort in this #Codechella project.</p>
		<p><a href="https://www.linkedin.com/in/alisnichenko">LinkedIn</a>, <a href="https://www.github.com/alisnichenko">Github</a>, etc.</p>

		<h2>Steven Li (he/him)</h2>
		<img style="width:100px; height:100px;border-radius: 50%;" src="../static/pictures/steven-profile1.jpg" alt="Steven picture">
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
		<p>industry. Lorem Ipsum has been the industry's standard dummy text</p>
		<p>ever since the 1500s, when an unknown printer took a galley of type</p>
		<p>and scrambled it to make a type specimen book. It has survived </p>
		<p>not only five centuries, but also the leap into electronic typesetting.</p>
		<p><a href="https://www.linkedin.com/">LinkedIn</a>, <a href="https://www.github.com/">Github</a>, etc.</p>
    </div>
</div>
</body>
</html>