<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tweet Bias - About</title>
    <link rel="stylesheet" href="../static/bias-detector.css">
</head>
<body>
<div class="container" style="left: 50%; top: 50%;">
	<div>
        <h1>#Codechella hack.</h1>
		
		<h2>Alexander Lisnichenko (he/him)</h2>
		<img style="width:100px; height:100px;border-radius:50%;" src="../static/pictures/alexander-profile.jpeg" alt="Alexander picture">
		<p>Honors student with a 4.0 GPA in a Computer Science degree at the</p>
		<p>University of South Florida. Comes from a mathematical and athletic</p>
		<p>background. He has 2+ years of experience in back-end web development</p>
		<p>and machine learning academic research. He is passionate about</p>
		<p>distributed systems, machine learning, and embedded systems. He</p>
		<p>enjoys mountain biking, photography, and psychology research.</p>
		<p>He put a lot of effort in this #Codechella project.</p>
		<p><a href="https://www.linkedin.com/in/alisnichenko">LinkedIn</a>, <a href="https://www.github.com/alisnichenko">Github</a></p>

		<h2>Steven Li (he/him)</h2>
		<img style="width:100px; height:75px;border-radius: 50%;" src="../static/pictures/steven-profile1.jpg" alt="Steven picture">
		<p>Undergraduate Senior with a dual in Computer Science and Information</p>
		<p>Technology & Web Science. Armed with an open mind, a creative drive, and an</p>
		<p>eagerness to learn, Steven willingly jumps to the challenge, with every step expanding</p>
		<p>his boundaries and opening new doors. With some many possibilities left</p>
		<p>unturned, who can sit still? Steven is passionate about machine learning,</p>
		<p>data analysis and visualization, computational vision, and parallel programming.</p>
		<p>He loves basketball, volleyball, tennis, and dancing to hip-hop. Steven really</p>
		<p>enjoys cooking, and vows to eat his way across the globe.</p>


		<p><a href="https://www.linkedin.com/in/stevenli44">LinkedIn</a>, <a href="https://www.github.com/enbattle">Github</a>, <a href="https://enbattle.github.io">Website</a></p>
    </div>
</div>
</body>
</html>