<html>
<head>
    <title>Tweet Bias - Detector</title>
    <link rel="stylesheet" href="../static/bias-detector.css">
</head>
<body>
<div class="container" style="left: 50%; top:50%;">
	<div class="container__item">
		<form class="form">
			<h1>#Codechella hack.</h1>
            <input 
                type="text" 
                name="message" 
                class="form__field" 
                placeholder="Tweet or message..."
            />
            <button 
                type="submit" 
                class="btn btn--primary btn--inside uppercase"
                formmethod="POST"
            >Check</button>
		</form>
    </div>
	
	<div class="container__item container__item--bottom">
        <p>Twitter and ML. Design inspired by <a 
            href="//dribbble.com/shots/2989456-Email-input-field" 
            target="_blank"
        >Daniel Luca</a>.</p>
	</div>
</div>
</body>
</html>