<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tweet Bias - Home</title>
    <link rel="stylesheet" href="../static/bias-detector.css">
</head>
<body>
    <!-- Main container -->
    <div class="container" style="left: 50%; top:50%;">
        <!-- Navigation Bar -->
        <nav class="navigation-bar">
            <a href="/" class="nav-bubble">Home</a>
            <a href="/about" class="nav-bubble">About</a>
            <a href="/bias-detector" class="nav-bubble">Bias Detector</a>
        </nav>

        <div>
            <h1>#Codechella Hack: Tweet Bias Detection</h1>

            <!-- Introduction -->
            <h2>What is this about?</h2>
            <p>This is about machine learning and misinformation. We see Twitter</p>
            <p>as a very powerful platform, however, in this period of constant</p>
            <p>misinformation and polarization, it is difficult to extract</p>
            <p>something useful from everyday interactions with social media.</p>
            <p><strong>We wanted to change that.</strong> And that is why we developed this project.</p>

            <br>

            <!-- Purpose -->
            <h2>What did we do?</h2>
            <p>We designed a prototype of an idea that has all the reasons to succeed</p>
            <p>We did the research necessary (described below), and started coding.</p>
            <p>We developed a simple convolutional neural network that attempts</p>
            <p>to extract features from existing Tweets from accounts, that were</p>
            <p>known the be biased. We consulted the <a href="https://adfontesmedia.com">adfontesmedia.com</a></p>
            <p>websited to obtain accurate information about biases to train our model.</p>
            <p>We then were able to finish our machine learning model to classify</p>
            <p>random tweets and phrases. Finally, we presented a working prototype</p>
            <p>that can be tested <a href="/bias-detector">here</a>.</p>
        </div>
    </div>
</body>
</html>