<html>
<head>
    <title>Tweet Bias - Home</title>
    <link rel="stylesheet" href="../static/bias-detector.css">
</head>
<body>
<div class="container" style="left: 50%; top:50%;">
	<div class="container__item">
        <h1>#Codechella hack.</h1>
        <h2>Quick navigation</h2>
        <p><a href="/about">About us</a> page (both team members).</p>
        <p><a href="/bias-detector">Bias detector</a> page and <a href="/">GitHub page</a>.</p>
        <h2>What is this about?</h2>
        <p>This is about machine learning and misinformation. We see Twitter</p>
        <p>as a very powerful platform, however, in this period of constant</p>
        <p>misinformation and polarization, it is difficult to extract</p>
        <p>something useful from everyday interactions with social media.</p>
        <p><strong>We wanted to change that.</strong> And that is why we developed this project.</p>
        <h2>What did we do?</h2>
        <p>We designed a prototype of an idea that has all the reasons to succeed</p>
        <p>We did the research necessary (described below), and started coding.</p>
        <p>We developed a simple convolutional neural network that attempts</p>
        <p>to extract features from existing Tweets from accounts, that were</p>
        <p>known the be biased. We consulted the <a href="https://adfontesmedia.com">adfontesmedia.com</a></p>
        <p>websited to obtain accurate information about biases to train our model.</p>
        <p>We then were able to finish our machine learning model to classify</p>
        <p>random tweets and phrases. Finally, we presented a working prototype</p>
        <p>that can be tested <a href="/bias-detector">here</a>.</p>
        <!-- <h2>Where can I click?</h2>
        <p>There are a lot of resources that went into design of this project.</p>
        <p>The main one are as follows (in order of usefulness):</p>
        <p>Political bias <a href="https://arxiv.org/pdf/2010.10652.pdf">paper</a> that we used for our idea.</p>
        <p><a href="adfontesmedia.com">Media company</a> that researches bias in news articles.</p>
        <p>Keras <a href="https://keras.io/examples/nlp/pretrained_word_embeddings/">blog</a> that has been used extensively for training.</p>
        <p>Our GitHub <a href="/">repo</a> that contains all of our hard work on the project.</p> -->
        <h2>Want to know more?</h2>
        <p>Check out our github, devpost, or contact us using the emails below.</p>
        <p>Alexander Lisnichenko - aleksander [at] lisnichenko [dot] com.</p>
        <p>Steven Li - stevenli [fourty four] [at] hotmail [dot] com.</p>
    </div>
</div>
</body>
</html>